/*
  DIAGNOSTIC STYLING
*/

@font-face {
  font-family: "arvo"; src: url("fonts/permanent-marker/Arvo-Regular.ttf") format("trutypefont");
  font-family: "sedgwick"; src: url("fonts/sedwick-ave-display/SedgwickAve-Regular.ttf") format("trutypefont");
  font-family: "staatliches"; src: url("fonts/sedwick-ave-display/Staatliches-Regular.ttf") format("trutypefont");
}

body {
  background-color: #343148;
}


/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}


/************
HEADER
************/
.entire-header {
  text-align: center;
}

#header-title {
  font-size: 50px; 
  color: red; 
  text-transform: capitalize;
  font-family: "sedgwick", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
#header-subtitle {
  font-size: 20px; 
  color: white;
  font-family: "staatliches", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*******
Aside
********/

aside {
  color: white; 
}

.aside-list-title{
  font-family: "arvo", sans-serif;
  font-weight: bold;
}

a {
  font-family: "staatliches", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none; 
  color: white; 
}

/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
  object-fit: cover; 
}


.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cast-titles {
  color: white;
  text-align: center;
  font-family: "arvo", sans-serif;  
}

.cast-images {
  border-radius: 20px;
  height: 120px; 
  width: 100px; 
  object-fit: fill;
}

#Brian-Tyree-Henry {
  padding-left: 10px; 
}


/************
FOOTER
************/
footer {
  text-align: center;
  color: white; 
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}